.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.col card {
  width: 28rem;
  margin-left: 15rem;
  margin-top: 2rem;
  height: 0rem;
  background-color: transparent;
}
.anotherclass {
  text-align: center;
  align-self: center;
}
.form-control border border-secondary {
  background-color: transparent;
}
.form-control border border-secondary mt-1 {
  background-color: transparent;
}
.form-control border border-secondary mt-12 {
  background-color: transparent;
  height: 40rem;
}
.btn btn-outline-primary mt-2 {
  text-align: center;
  width: 15rem;
  align-self: center;
  color: rosybrown;
}
.btn btn-primary mt-2 {
  width: 15rem;
  align-self: center;
  color: red;
}
/* style="" */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
